.add-class-modal-overlay{
    position: fixed;
    top: 0;
    right: 0;
    bottom: var(--modal-overlay-bottom);
    left: var(--modal-overlay-left);
    display: var(--modal-overlay-display);
    align-items: var(--align-items);
    justify-content: var(--modal-overlay-justify-content);
    background: var(--modal-overlay-background);
    overflow-y: var(--modal-overlay-overflow-y);
    padding-top: var(--modal-overlay-padding-top);
    z-index: 999;
}

.add-class-modal-overlay::-webkit-scrollbar {
    display: none;
}

.add-class-modal-content{
    background-color: white;
}

.input-item{
    display: flex;
    gap: 10px;
}