.css-tna12i-MuiTypography-root-MuiPickersToolbarText-root.Mui-selected {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px !important;
    font-family: "Noto Sans", serif !important;
    font-weight: 400 !important;
}

.css-jdw6pu-MuiTypography-root-MuiPickersToolbarText-root {
    font-size: 33px !important;
    font-weight: 400 !important;
    font-family: "Noto Sans", serif !important;
}
.css-6mw38q-MuiTypography-root {
display: none !important;
}
