  /* Index Container */
  .questionbank-index-container {
    /* margin-top: 3.5rem; */
      background-color: var(--index-container-bg);
      border-radius: var(--card-border);
      /* box-shadow: var(--index-container-box-shadow); */
      padding: var(--index-container-padding);
      position: relative;
      overflow-x: auto;
      border: 1px solid #e7e9ee;
  }


    /* spinning animation */
    .spinner {
      width: 16px;
      height: 16px;
      border: 2px solid #f3f3f3;
      border-top: 2px solid #0284c7;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }